body {
  background-color: green;
}

#blackjackBody {
  width: 60%;
  margin: auto;
}

#dCards {
  margin-top: 5%;
}

#pCards {
  margin-top: 5%;
}

.cards {
  width: 19%;
}

#buttons {
  margin-top: 5%;
  margin-left: 20%;

}

#hit, #stand, #start {
  padding: 1%;
  width: 20%;
}